- if @alcool.errors.any? && !@alcool.quantity_command
  #error_explanation
    %h2
      = pluralize(@alcool.errors.count, "error")
      prohibited this alcool from being saved:
    %ul
      - @alcool.errors.full_messages.each do |msg|
        %li= msg